div {
    border: 2px solid black;
}

.calculator {
    display: flex;
    flex-direction: column;
    background-color: #9496A7;
    width: 130px;
    justify-content: space-around;
    align-items: center;
    gap: 5px;
}

.display {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 120px;
    height: 40px;
    margin-top: 3px;
    background-color: white;
}

.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 4px;
    width: 120px;
    height: 150px;
    margin-bottom: 3px;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5E68A7;
    border: solid 2px black;
    color: white;
    width: 25px;
    height: 20px;
}

button.operator {
    background-color: #8934A4;
}

button.delete {
    background-color: #A71621;
}

button.bottomrow {
    width: 50px;
}

button#execute {
    background-color: #2A8B37;
}